#shop {
	float: right;
	height: 125px;
	margin: 0 auto;
	padding: 0;
}

#shop ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#shop li {
	float: left;
}

#shop a {
	display: block;
	padding: 20px 20px 14px 20px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#shop a:hover, #shop .current_page_item a {
	background: url(images/img03.gif) no-repeat center top;
	text-decoration: none;
}

#shop .current_page_item a {
	background: url(images/img03.gif) no-repeat center top;
}
.shop {
	background: #22eecc;
}
.shop_icon {
	float: left;
}
.shop_desc {
	float :left;
	background: #eecc22;
}
