{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}饱了么{% endblock %}

{% block body %}

<div>
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
      <div class="jumbotron">
        <h3>欢迎使用饱了么网上订餐系统</h3>
      </div>
      <div class="row">
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
        <div class="col-xs-6 col-lg-3 shop">
          <div class="thumbnails shop_icon">
            <img class="img-polaroid" src="{% static 'pictures/picture.jpeg' %}" alt="店铺名称" />
          </div>
          <div class="shop_desc">
            <h4>店铺名称</h4>
            <p>店铺类型</p>
            <p>起送价</p>
            <p>订单量</p>
          </div>
        </div><!-- 一间店铺 -->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->

{% endblock %}
